<h1>Your Cart</h1>

{% for item in items %}

<div>

<h3>{{ item.product.name }}</h3>

<p>Price: R{{ item.product.price }}</p>

<a href="/decrease/{{ item.product.id }}/">-</a>

<strong>{{ item.quantity }}</strong>

<a href="/increase/{{ item.product.id }}/">+</a>

<p>Total: R{{ item.get_total }}</p>

<a href="/remove-from-cart/{{ item.product.id }}/">
<button>Remove</button>
</a>

</div>

<hr>

{% endfor %}

<h2>Cart Total: R{{ order.get_cart_total }}</h2>
{% if order.get_cart_total > 0 %}
    <a href="{% url 'payment' %}">
        <button>Checkout</button>
    </a>
{% else %}
    <button disabled>Checkout</button>
    <p>Your cart is empty</p>
{% endif %}

<a href="/">Continue Shopping</a>